html {

background-image: linear-gradient(to bottom right, #D9D5F4, #D1ADD1);     

}
h1 {
  color: #412474;
  font-size: 60px;
  font-style: italic;
  margin-top: 80px;
  margin-bottom: 20px;
    text-align: center;
  
}
#root {
    display: flex;
     
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 20px;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .styleli {
    color: black;
    background-color: #EBDEEF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);
    margin: 10px; 
    
  }
  
  
  img {
    width: 200px;
    height:  220px;
}
