html {

background-image: linear-gradient(to bottom right, #D9D5F4, #D1ADD1);     

}
#root {
    display: flex;
    align-items: center;
    flex-wrap: wrap
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 80px; /* Márgen superior de 20 píxeles */
  margin-right: 10px; /* Márgen derecho de 10 píxeles */
  margin-bottom: 20px; 
  margin-left: 120px; 
  }
  li {
    background-color: #EBDEEF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 25%;
    justify-content: space-between;
  }
  
  img {
    width: 200px;
    height:  220px;
}
